@model IEnumerable<CyberProject.Entities.Salary>
@{
    ViewData["Title"] = "List Salary";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var details = ViewData["Salary Preview"] as CyberProject.Entities.Salary;

    var totalAllowance = details.Housing + details.Lunch + details.Medical + details.Transport;

    var AmountAfterTax = details.Amount - details.Tax;
}



<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
                        </i>
                    </div>
                    <div>
                        Salary Breakdown
                        <div class="page-title-subheading">
                            Detailed info on the employee's salary structure.
                        </div>
                    </div>
                </div>
                <div class="page-title-actions">
                    <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
                        <i class="fa fa-star"></i>
                    </button>
                    <div class="d-inline-block dropdown">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                <i class="fa fa-business-time fa-w-20"></i>
                            </span>
                            Buttons
                        </button>
                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">
                                        <i class="nav-link-icon lnr-inbox"></i>
                                        <span>
                                            Inbox
                                        </span>
                                        <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">
                                        <i class="nav-link-icon lnr-book"></i>
                                        <span>
                                            Book
                                        </span>
                                        <div class="ml-auto badge badge-pill badge-danger">5</div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">
                                        <i class="nav-link-icon lnr-picture"></i>
                                        <span>
                                            Picture
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a disabled href="javascript:void(0);" class="nav-link disabled">
                                        <i class="nav-link-icon lnr-file-empty"></i>
                                        <span>
                                            File Disabled
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Personal Information</h5>
                        <div class="scroll-area-sm">
                            <div class="scrollbar-container ps--active-y">
                                <p><b>Employee ID</b> : @details.UserId</p>
                                <p><b>Employee Name</b> : @details.User.FirstName @details.User.LastName</p>
                                <p><b>Email</b> : @details.User.Email</p>
                                <p><b>Grade</b> : @details.User.Grade.GradeName</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Allowances</h5>
                        <div class="scroll-area-sm">
                            <div class="scrollbar-container ps--active-y">
                                <h5 class="card-title">Housing</h5>
                                <p><b>Amount</b>: N @details.Housing</p>
                                <p><b>Type</b> : @details.HousingPayType</p>
                                <h6 class="card-title">Medical</h6>
                                <p><b>Amount</b> : N @details.Medical</p>
                                <p><b>Type</b> : @details.MedicalPayType</p>
                                <h6 class="card-title">Lunch</h6>
                                <p><b>Amount</b> :N @details.Lunch</p>
                                <p><b>Type</b> : @details.LunchPayType</p>
                                <h6 class="card-title">Transportation</h6>
                                <p><b>Amount</b> : N @details.Transport</p>
                                <p><b>Type</b> : @details.TransportPayType</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Tax Deductions</h5>
                        <div class="scroll-area-sm">
                            <div class="scrollbar-container ps--active-y">
                                <p><b>Tax Percentage</b> : @details.TaxPercentage%</p>
                                <p><b>Tax Amount</b> : N @details.Tax</p>
                                <p><b>Tax Payment Type</b> : @details.TaxPayType</p>
                                <p><b>Amount After Deduction</b> : N @AmountAfterTax</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Summary</h5>
                        <div class="scroll-area-sm">
                            <div class="scrollbar-container ps--active-y">
                                <p><b>Basic Salary</b> : N @details.Amount</p>
                                <p><b>Total deductions</b> : N @details.Tax</p>
                                <p><b>Total allowance</b> : N @totalAllowance</p>
  
                                <h6 class="card-title">Net Salary</h6>
                                <p><b>N @details.NetSalary</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
