@model IEnumerable<CyberProject.Entities.Salary>
@{
    ViewData["Title"] = "Salaries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="row" style="padding-top: 50px; padding-left: 100px;">
            <div class="col-lg-6">
                <div class="main-card mb-3 card" style="width : 820px; overflow: auto">
                    <div class="card-body">
                        <h5 class="card-title">Salaries</h5>
                        <table class="mb-0 table table-borderless">
                            <thead>
                                <tr>
                                    <th>Salary ID</th>
                                    <th>Employee</th>
                                    <th>Grade Name</th>
                                    <th>Basic Salary</th>
                                    <th>Tax Percentage (%)</th>
                                    <th>Tax Amount</th>
                                    <th>Housing</th>
                                    <th>Medical</th>
                                    <th>Lunch</th>
                                    <th>Transport</th>
                                    <th>Net Salary</th>
                                </tr>
                            </thead>
                            @foreach (var sal in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td scope="row">@sal.SalaryId</td>
                                        @*<td>@sal.User.FirstName @sal.User.LastName</td>
                                        <td>@sal.User.Grade.GradeName</td>*@
                                        <td>@sal.Amount</td>
                                        <td>@sal.TaxPercentage</td>
                                        <td>@sal.Tax</td>
                                        <td>@sal.Housing</td>
                                        <td>@sal.Medical</td>
                                        <td>@sal.Lunch</td>
                                        <td>@sal.Transport</td>
                                        <td>@sal.NetSalary</td>
                                        <td class="dropdown">
                                            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                                <a asp-action="Details" asp-route-id="@sal.SalaryId" tabindex="0" class="dropdown-item">Details</a>
                                                <a asp-action="Edit" asp-route-id="@sal.SalaryId" tabindex="0" class="dropdown-item">Edit</a>
                                                <a asp-action="Delete" asp-route-id="@sal.SalaryId" onclick="return confirm('Are you sure you want to delete the salary details?')" tabindex="0" class="dropdown-item">Delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>