@model IEnumerable<CyberProject.Entities.User>
@{
    ViewData["Title"] = "List Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="row" style="padding-top: 100px; padding-left: 50px;">
            <div class="col-lg-6">
                <div class="main-card mb-3 card" style="width: 155%; height: 100%; overflow-x: auto">
                    <div class="card-body">
                        <h5 class="card-title">Employees</h5>
                        <table class="mb-0 table table-borderless">
                            <thead>
                                <tr>
                                    <th>Employee ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>Local Government</th>
                                    <th>Email</th>
                                    <th>Department</th>
                                    <th>Phone Number</th>
                                    <th>Grade</th>
                                    <th>Level</th>
                                    <th>Step</th>
                                    <th>Salary</th>
                                </tr>
                            </thead>
                            @foreach (var user in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td scope="row">@user.Id</td>
                                        <td>@user.ApplicationUser.FirstName</td>
                                        <td>@user.ApplicationUser.LastName</td>
                                        <td>@user.ApplicationUser.UserName</td>
                                        <td>@user.Country</td>
                                        <td>@user.ApplicationUser.State</td>
                                        <td>@user.ApplicationUser.LGA</td>
                                        <td>@user.ApplicationUser.Email</td>
                                        <td>@user.Department.deptName</td>
                                        <td>@user.ApplicationUser.PhoneNumber</td>
                                        <td>@user.Grade.GradeName</td>
                                        <td>@user.Grade.Level</td>
                                        <td>@user.Grade.Step</td>
                                        <td>@user.Grade.NetSalary</td>
                                        
                                        <td class="dropdown">
                                            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                                <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" tabindex="0" class="dropdown-item">Edit</a>
                                                <a asp-controller="User" asp-action="Details" asp-route-id="@user.Id" tabindex="0" class="dropdown-item">Salary Breakdown</a>
                                                <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to delete the user @user.Id?')" tabindex="0" class="dropdown-item">Delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>