@model IEnumerable<CyberProject.Entities.User>
@{
    ViewData["Title"] = "List Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
                        </i>
                    </div>
                    <div>
                        Regular Tables
                        <div class="page-title-subheading">
                            Tables are the backbone of almost all web applications.
                        </div>
                    </div>
                </div>
                <div class="page-title-actions">
                    <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">
                        <i class="fa fa-star"></i>
                    </button>
                    <div class="d-inline-block dropdown">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                <i class="fa fa-business-time fa-w-20"></i>
                            </span>
                            Buttons
                        </button>
                        <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">
                                        <i class="nav-link-icon lnr-inbox"></i>
                                        <span>
                                            Inbox
                                        </span>
                                        <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">
                                        <i class="nav-link-icon lnr-book"></i>
                                        <span>
                                            Book
                                        </span>
                                        <div class="ml-auto badge badge-pill badge-danger">5</div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">
                                        <i class="nav-link-icon lnr-picture"></i>
                                        <span>
                                            Picture
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a disabled href="javascript:void(0);" class="nav-link disabled">
                                        <i class="nav-link-icon lnr-file-empty"></i>
                                        <span>
                                            File Disabled
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="main-card mb-3 card" style="width : 180%;">
                    <div class="card-body">
                        <h5 class="card-title">Users</h5>
                        <table class="mb-0 table table-borderless">
                            <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Faculty ID</th>
                                    <th>Department ID</th>
                                    <th>Phone Number</th>
                                    <th>Grade</th>
                                    <th>Level</th>
                                    <th>Step</th>
                                </tr>
                            </thead>
                            @foreach (var user in Model)
                            {
                                <tbody>
                                    <tr>
                                        <td scope="row">@user.Id</td>
                                        <td>@user.FirstName</td>
                                        <td>@user.LastName</td>
                                        <td>@user.Username</td>
                                        <td>@user.Email</td>
                                        <td>@user.FacultyID</td>
                                        <td>@user.DepartmentID</td>
                                        <td>@user.PhoneNo</td>
                                        <td>@user.Grade</td>
                                        <td>@user.Level</td>
                                        <td>@user.Step</td>
                                        <td class="dropdown">
                                            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <div role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                                <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" tabindex="0" class="dropdown-item">Edit</a>
                                                <a asp-controller="User" asp-action="CalculateSalary" asp-route-id="@user.Id" tabindex="0" class="dropdown-item">Compute Salary</a>
                                                <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to delete the user '@user.Id'?')" tabindex="0" class="dropdown-item">Delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>