@using Microsoft.AspNetCore.Identity
@using CyberProject.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<CyberProject.Entities.User>
@{
    ViewData["Title"] = "Salary Breakdown";
    Layout = "~/Views/Shared/_Layout.cshtml";


}




<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
            </div>
        </div>
        <div class="tab-content">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Salary Breakdown</h5>
                    @foreach (var us in Model)
                    {
                        var loggedInUserName = UserManager.GetUserName(User);
                        var loggedInEmail = await UserManager.GetEmailAsync(
                                            UserManager.Users.FirstOrDefault(u => u.UserName == loggedInUserName));
                        var totalAllowance = us.Housing + us.Lunch + us.Medical + us.Transport;

                        var AmountAfterTax = us.Amount - us.Tax;

                        @if (us.ApplicationUser.Email == loggedInEmail)
                        {
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="main-card mb-3 card">
                                        <div class="card-body">
                                            <h5 class="card-title">Personal Information</h5>
                                            <div class="scroll-area-sm">
                                                <div class="scrollbar-container ps--active-y">
                                                    <p><b>Employee ID</b> : @us.Id</p>
                                                    <p><b>Employee Name</b> : @us.ApplicationUser.FirstName @us.ApplicationUser.LastName</p>
                                                    <p><b>Email</b> : @us.ApplicationUser.Email</p>
                                                    <p><b>Grade</b> : @us.Grade.GradeName</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="main-card mb-3 card">
                                        <div class="card-body">
                                            <h5 class="card-title">Allowances</h5>
                                            <div class="scroll-area-sm">
                                                <div class="scrollbar-container ps--active-y">
                                                    <h5 class="card-title">Housing</h5>
                                                    <p><b>Amount</b>: N @us.Grade.Housing</p>
                                                    <p><b>Type</b> : @us.Grade.HousingPayType</p>
                                                    <h6 class="card-title">Medical</h6>
                                                    <p><b>Amount</b> : N @us.Grade.Medical</p>
                                                    <p><b>Type</b> : @us.Grade.MedicalPayType</p>
                                                    <h6 class="card-title">Lunch</h6>
                                                    <p><b>Amount</b> :N @us.Grade.Lunch</p>
                                                    <p><b>Type</b> : @us.Grade.LunchPayType</p>
                                                    <h6 class="card-title">Transportation</h6>
                                                    <p><b>Amount</b> : N @us.Grade.Transport</p>
                                                    <p><b>Type</b> : @us.Grade.TransportPayType</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="main-card mb-3 card">
                                        <div class="card-body">
                                            <h5 class="card-title">Tax Deductions</h5>
                                            <div class="scroll-area-sm">
                                                <div class="scrollbar-container ps--active-y">
                                                    <p><b>Tax Percentage</b> : @us.TaxPercentage%</p>
                                                    <p><b>Tax Amount</b> : N @us.Tax</p>
                                                    <p><b>Tax Payment Type</b> : @us.TaxPayType</p>
                                                    <p><b>Amount After Deduction</b> : N @AmountAfterTax</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-card mb-3 card">
                                        <div class="card-body">
                                            <h5 class="card-title">Summary</h5>
                                            <div class="scroll-area-sm">
                                                <div class="scrollbar-container ps--active-y">
                                                    <p><b>Basic Salary</b> : N @us.Amount</p>
                                                    <p><b>Total deductions</b> : N @us.Tax</p>
                                                    <p><b>Total allowance</b> : N @totalAllowance</p>

                                                    <h6 class="card-title">Net Salary</h6>
                                                    <p><b>N @us.NetSalary</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        

                    }
                </div>
            </div>

        </div>
    </div>
    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="app-footer-left">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                Footer Link 1
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                Footer Link 2
                            </a>
                        </li>
                    </ul>
                </div>



                <div class="app-footer-right">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                Footer Link 3
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <div class="badge badge-success mr-1 ml-0">
                                    <small>NEW</small>
                                </div>
                                Footer Link 4
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
